:root {
  --background: #000;
  --foreground: #ddd;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000;
    --foreground: #ddd;
  }
}

body, html {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
